body{
    margin-left: 170px;
    margin-right: 50px;
  }
  #table {
      border-collapse: collapse;
    }
    
    td,
    th {
      border: 1px solid none;
      padding: 5px 150px;
    }
  .parte_1{
    width: 600px;
    padding-top: 1px;
    padding-bottom: 1px;
    border: 1px solid none;
    text-align: center;
    background-color: blue;
    font-size: 23px;
  }
   
  .foto1{
    margin: 4px;
    padding: 3px;
    text-align: center;
    border-bottom: 1px;
    
  }
  .tr1{
    background-image: url("imagenes/fondo1.jpg");
  }
  .parte2{
    width: 500px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 24px;
    margin-right: 24px;
    text-align: center;
    border: 3px solid none;
    border-width: 10px;
    background-color: blue;
    font-size: 16px;
  }
  .foto2{
    float: right;
    margin-right: 0em;
    text-align: right;
  }
  .foto3{
    margin-top: 0px;
    margin-left: 0em;
    text-align: right;
  }
  .tr2{
    background-image: url("imagenes/fondo2.jpg");
    width: auto;
  }
  
  .text2{
    text-align: center;
  }
  .text1{
    text-align: center;
    font-family: cursive ;
    font-size: 14px;
  }
  .cuadro_6{
    text-align: left;
    width: 600px;
    padding-top: 1px;
    padding-bottom: 1px;
    font-size: 14px;
  }
  .cuadro_2{
    width: 600px;
    padding-top: 1px;
    padding-bottom: 1px;
    border: 1px solid none;
    text-align: center;
    
    font-size: 14px;
  }
  .cervante{
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }